@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab&display=swap');

:root {
    --main-font: 'Josefin Sans';
    --sub-font: 'Josefin Slab';

    --bg: #D5C6E0;
    --accent1: #7465A4;
    --accent2: #83668F;
    --text: #192A51;
    --canvas: #F5F5F5;
}

body {
    background-color: var(--bg);
}

h1 {
    font-family: var(--main-font);
    font-size: xx-large;
    color: var(--text);
    text-align: center;
}

p {
    font-family: var(--sub-font);
    font-size: larger;
    font-weight: bolder;
    color: var(--accent1);

    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 5 / 8;
}

.div2 {
    grid-area: 1 / 8 / 5 / 9;
}

.div3 {
    grid-area: 5 / 1 / 6 / 9;
}

.main-canvas {
    width: 95%;
    border: 1px solid var(--accent2);
    background-color: var(--canvas);
    border-radius: 20px;

    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tool-ribbon{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tool{
    background-color: var(--canvas);

    width: 4rem;
    height: 4rem;
    border-radius: 10%;
    margin: 0 0 auto;
    margin-bottom: 0.5em;
}

.tool:focus{
    background-color: var(--bg);
}

