@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab&display=swap');

/************** CONSTANTS ***************/

:root {
    --main-font: 'Josefin Sans';
    --sub-font: 'Josefin Slab';

    --bg: #DBCFB0;
    --nav: #BFC8AD;
    --accent1: #90B494;
    --accent2: #718F94;
    --text: #47485C;
    --subtext: #545775;
    --canvas: #F5F5F5;
}

/************** UNIVERSAL STYLES ***************/

body {
    background-color: var(--bg);
}

h1 {
    font-family: var(--main-font);
    font-size: xx-large;
    color: var(--text);
    text-align: center;
}

p {
    font-family: var(--sub-font);
    font-size: larger;
    font-weight: bolder;
    color: var(--subtext);

    text-align: center;
}

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--nav);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 2px solid var(--accent2);
}

.nav-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: x-large;
    color: var(--text);
    display: block;
    transition: 0.3s;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: var(--text);
    border: none;
    background-color: var(--nav);
    cursor: pointer;
}

.nav-link:hover, .closebtn:hover{
    color: var(--accent2);
}

.openbtn {
    display: inline;
    cursor: pointer;
    color: var(--text);
    padding: 10px 15px;
    border: none;
    background-color: var(--bg);
}

/************** GALLERY PAGE STYLES ***************/

.gallery-container{
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-card{
    width: 400px;
    height: 300px;
    background-color: var(--nav);
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;
    position: relative;
}

.gallery-card a{
    text-decoration: none;
    font-family: var(--main-font);
    font-size: xx-large;
    color: var(--text);
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
}

.gallery-card h3{
    font-family: var(--main-font);
    color: var(--text);
    margin-left: 10px;
}

.gallery-card span{
    font-family: var(--sub-font);
    color: var(--subtext);
    font-weight: bolder;
    margin-left: 10px;
}

.gallery-card button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#edit-btn{
    position: absolute;
    bottom: 60px;
    right: 10px;
}

#delete-btn{
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/************** EDITOR PAGE STYLES ***************/
.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 6 / 10;
}

.div2 {
    grid-area: 1 / 10 / 6 / 11;
}

.main-canvas {
    width: 95%;
    border: 2px solid var(--accent2);
    background-color: var(--canvas);
    border-radius: 20px;

    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tool-ribbon{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--accent2);
}

.tool, label{
    padding: 0;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
}

.tool-label{
    width: 60px;
    height: 60px;
    background-color: var(--canvas);
    border: 2px solid var(--accent2);
    border-radius: 10px;
}

input[type="radio"]:checked + label{
    background-color: var(--accent2);
    border: 2px solid var(--accent1);

}
input[type="radio"]:hover + label{
    background-color: var(--nav);
    border: 2px solid var(--accent1);
    cursor: pointer;
}

.colour-picker{
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-bottom: 1px solid var(--accent2);
}

#colour-preview{
    width: 90%;
    border: 2px solid var(--accent2);
    border-radius: 10px;
    
    padding: 0;
    display: block;
    margin-left: 0px;
    margin-right: auto;
}

label{
    font-family: var(--main-font);
    color: var(--text);
    font-weight: bolder;
    margin-left: 0px;
}

label[for="red"]{
    color: red;

}
label[for="green"]{
    color: green;
}

label[for="blue"]{
    color: blue;
}

input[type="range"]{
    margin-top: 1rem;
}



.save-btn {
    background-color: var(--accent2);
    color: var(--canvas);
    font-family: var(--main-font);
    font-size: xx-large;
    border-radius: 5px;
    border: 1px solid var(--accent1);
    margin-top: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.save-btn:hover{
    background-color: var(--accent1);
    border: 1px solid var(--accent2);
}

.save-btn:active{
    background-color: var(--bg);
    border: 1px solid var(--accent2);
    color: var(--text);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,0.4);
}

.save-form{
    position: relative;
    background-color: var(--nav);
    margin: auto;
    padding: 2rem;
    border: 2px solid var(--accent2);
    border-radius: 20px;
    width: 40%;
}

.closeModalbtn{
    position: absolute;
    background-color: var(--nav);
    border: none;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.save-form h2{
    font-family: var(--main-font);
    color: var(--text);
    text-align: center;
}

form label{
    font-family: var(--main-font);
    font-size: larger;
    color: var(--subtext);
}

form input, textarea{
    width: 100%;
    margin-bottom: 2rem;
    font-family: var(--sub-font);
    font-size: large;
    font-weight: bolder;
    color: var(--subtext);
    background-color: var(--canvas);
    border: 1px solid var(--accent2);
    border-radius: 5px;
    line-height: 150%;
}

textarea{
    resize: vertical;
}

.submitbtn{
    font-family: var(--main-font);
    font-size: larger;
    background-color: var(--accent2);
    border: 1px solid var(--accent1);
    color: var(--canvas);
    padding: 0.5rem;
    border-radius: 5px;

    cursor: pointer;
}

.submitbtn:hover{
    background-color: var(--accent1);
    border: 1px solid var(--accent2);
}

.submitbtn:active{
    background-color: var(--nav);
    border: 1px solid var(--accent1);
    color: var(--text);
}

.form-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#toast{
    visibility: hidden;
    min-width: 250px;
    height: 50px;
    margin-left: -125px;
    background-color: var(--accent2);
    color: var(--canvas);
    font-family: var(--sub-font);
    font-size: xx-large;
    line-height: 50px;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
}

#toast.show{
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: 50px; opacity: 1; }
}

@keyframes fadeout {
    from { bottom: 50px; opacity: 1;}
    to { bottom: 0; opacity: 0;}
}


